

/* mdé - in-quarto
// ————————————————————————————————————————————————————————————————————————————
*/


* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; box-sizing: border-box; }
body { 
    margin: 10px;
    background:#000;
    overflow: hidden;
    font-family: 'Mendoza', serif;
    font-family: 'Suisse', sans-serif;
    line-height: 1.5;
    }



/* ———————————————————————————————————————————————————————————————————————————— multipage scales */    
.page { 
    background:#fff url('pix_3x3.png') repeat-y 50% 0 ;
    height: 565px;
    width: 800px;
    position: absolute;
    overflow: hidden;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    transform-origin:0 0;
    }    
    

.onepage .page{
    -webkit-transform: scale(.25);
    -moz-transform: scale(.25);
    transform: scale(.25);
    }

.multipage .page {
    -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    transform: scale(.1);
    }
.print .page {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    }

.multipage .page:after {
    padding: .5em;
    position: absolute; top: .5em; left: .5em;
    font-weight: bold; font-size: 1200%;
    content: attr(data-folio);
    z-index: 2000;
    }
.multipage .currentpage {
    /*background: red*/
    }

/* ———————————————————————————————————————————————————————————————————————————— sources */    
#imagesList { display: none; }

/* ———————————————————————————————————————————————————————————————————————————— Menu */    
#menu { 
    position: absolute; top:0; bottom: 0; right: 0; width: 0px; background: #000; overflow: hidden; color: #fff;
    transition: width 200ms ease-out;
    font-size: 14px;
    z-index: 20000;
    }
#menu > div,
.menu #menu {
    width: 200px
    }    
#menu > div div { display: none }
#menu > div div { padding: 20px; }


/* ———————————————————————————————————————————————————————————————————————————— page layout */    
.slot { 
    position: absolute;
    transition:all 300ms ease-out;
    }    
    .slot[data-type="title"] { background: blue}
    .slot[data-type="text"] { font-size: 200%; z-index: 8}
    .slot[data-type="sms"] { font-size: 400%; z-index: 8; font-family: 'Mendoza', serif; }
    .slot[data-type="photo"] { z-index: 5}
    .slot[data-type="folio"] { z-index: 10; font-size: 150%; font-weight: 300}
    .slot[data-type="drawing"] { background: green}
    
    /*.slot.focused { outline: 10px dashed black; }    */


/* ———————————————————————————————————————————————————————————————————————————— text layout & typography */    
h1, h2 { line-height: 1.2}



*[data-type="text"] p { background: #fff; margin: 0; }
*[data-type="text"] p + p { text-indent: 1em} 
/*p span {box-shadow: -2px 0 0 2px white, 2px 0 0 2px white; background: #fff; }*/
.maincontent { color: red; background: #fff}
.slot[data-type="text"].huge { font-size: 400%}
.slot[data-type="text"].big { font-size: 400%}
.slot[data-type="text"].normal { font-size: 200%}

#slot0[data-type="text"]{
    /* collect content into a named flow */
    /*-adobe-flow-into: myFlow;
    -webkit-flow-into: myFlow;*/
    flow-into: content-flow contents;
    overflow: hidden;
}

.region{
    /* render content from the named flow*/
   /* -adobe-flow-from: myFlow;
    -webkit-flow-from: myFlow;*/
    flow-from: content-flow;
    region-fragment: break;
    height: 250px;
    width: 250px;
}

.content-source {
    
}

.content-region {
    flow-from: content-flow;
    region-fragment: break;
}

.auteur { font-size: 75%; font-style: italic;}
.credits { max-width: 250px; z-index: 50}
.credits .auteur { margin: 0}
.credits p {margin: 0}
.credits img { display: block;
    left: -60px;
    position: absolute;
    top: -20px;
    width: 60px;}

.nord { font-family: 'antiqueolive'; font-weight: 900; font-size: 1.6em; }


/* ———————————————————————————————————————————————————————————————————————————— image layout  */    
.slot[data-type="photo"].hugeImage {z-index:2; min-width: 200px; min-height: 200px}
.hugeImage img {image-rendering: pixelated}
.img img { width: 100%}

/* ———————————————————————————————————————————————————————————————————————————— grid */    
.grid { display: none; position: absolute; }
.col { float: left; background: #eee; height: 50px}




#popup { position: fixed; z-index: 99099; background: #000; color: #fff; top:0; bottom:0; left: 0; right: 0; text-align: center;}
#popup p { position: absolute; top: 50%; text-align: center; width: 100%; margin-top: -1em;}
#popup.invisible { right: auto; width: 0}
#webcam { z-index: 1; position: absolute;}
#webcam video, .popup canvas { width:1080px;}
#webcam video { margin: 0 auto; display: block; max-width: 100%; visibility: hidden;}
#webcam canvas { position: absolute; z-index: 8; visibility: hidden; top:0; left: 0}
#webcam #canvas  { z-index: 9; visibility: visible; left: 0%; top: 0; margin-left:0; transform:scale(3.2); transform-origin:0 0; }

#list{ opacity: 0; transition:opacity 400ms linear; /*margin-right: 220px*/}
.packed #list{ opacity: 1 }

#list .item {
    display: block;
    float: left;
    width: 200px;
    margin: 0 0px 0px 0;
    color: #fff;
}
#list .item.w2 { width: 420px;}
.item img { width: 100%}

#list h1{font-size: 1.2em}
#list a {  text-decoration: none; }
#list p { font-size: 1em}
.item { opacity: .5}
.item.focused { opacity: 1}



/* feuille de sale */

#bo { font-size: 12pt}
#bo p { margin: 0; }
#bo h2 { font-weight: 400}